@model HomeWallet.Models.ProductViewModels.CreateProductViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="~/js/chosen.jquery.js"></script>
<link rel="stylesheet" href="~/css/chosen.css">

<form id="addproductform">
    <div class="createproductproduct">
          <label>Product:</label>
          <select id="selectproduct"
                  data-placeholder="Select product"
                  asp-for="ProductID"
                  class="forminput chosen-single-select"
                  asp-items="ViewBag.Products"></select>
    </div>
    <div class="checkbox">
        <label><input id="newproductcheckbox" type="checkbox" asp-for="isNew"/> New product</label>
    </div>
    <div id="newproduct">
        <div class="createproductname">
              <label>Name:</label>
              <input asp-for="Name" class="forminput" placeholder="Name" />
            
        </div>
        <div class="createproductcategories">
            <label>Categories:</label>
            <select data-placeholder="Select categories"
                    asp-for="Categories"
                    class="forminput chosen-group-select"
                    multiple="multiple"
                    asp-items="ViewBag.Categories"></select>
        </div>
    </div>
    <div class="createproductamount">
        <label>Amount:</label>
        <input type="number" asp-for="Amount" class="forminput" placeholder="Amount" />
    </div>
    <div class="createproductprice">
        <label>Price per unit:</label>
        <input type="number" asp-for="Price" class="forminput" placeholder="Price per unit" />
    </div>
</form>

<script src="@Url.Content("~/js/chosen.jquery.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document) 
      .ready(function () {

            $('.chosen-group-select').chosen();
            $('.chosen-single-select').chosen();
            $('#newproduct').hide();
        });
</script>

