@model HomeWallet.Models.ProductViewModels.EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="UserID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Categories</label>
            <div class="col-md-offset-2 col-md-10">
                <select data-placeholder="Select categories"
                        asp-for="Categories"
                        class="editcategories chosen-group-select"
                        multiple="multiple"
                        asp-items="ViewBag.Categories"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script src="~/js/chosen.jquery.js"></script>
    <link rel="stylesheet" href="~/css/chosen.css">
    <script type="text/javascript">
        $(document)
            .ready(function() {
                $('.chosen-group-select').chosen();
                $('.chosen-single-select').chosen();
            });
    </script>
}