@model HomeWallet.Models.DailySummaryViewModels.DailySummaryViewModel
@{
    ViewData["Title"] = "Index";
}
 
<p>You spend in total @Model.TotalCost</p>
@if(@Model.Percent != -1)
{
<p>That's @Model.Percent% of your plan</p>
}

