@{
    ViewData["Title"] = "Home Page";
}
<div class="loading">Loading...</div>
<div class="morereceipts"></div>

<div class="noreceipts">No more receipts.</div>
<div class="col-md-12 morebuttondiv">
    <button id="addreceiptbutton" class="btn btn-default showmorebutton">Show More</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).one('ready', function () {
        $('.noreceipts').hide();
        getReceipts(0);
    });

    $('#addreceiptbutton').click(function() {
        var lastId;
        if ($('.datefield').last().text() != null) {
            lastId = $('.datefield').last().text();
        } else {
            lastId = 0;
        }
        getReceipts(lastId);
    });

    function getReceipts(last) {
      jQuery.get('/Home/GetReceipts',
        {
          lastDate: last
        })
        .done(function (html) {
          $('.morereceipts').append(html);
          $('.loading').remove();
        })
        .fail(function () {
              $('.noreceipts').show();
              $('.morebuttondiv').hide();
          });
    }
</script>
