@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row dayheader">
        <div class="col-xs-6 col-md-8 datetextfield">
            <label> 01.01.0001</label>
        </div>
        <div class="col-xs-6 col-md-4 summarybutton">
            <button class="btn btn-default">Summary</button>
        </div>
    </div>
    <hr />
    <div class="col-md-3 col-xs-6">
        <div class="receiptsummary">
            <div class="shoptextfield">
                <h1>SHOP</h1>
            </div>
            <div class="pricetextfield">
                <h3>Price</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="receiptsummary">
            <div class="shoptextfield">
                <h1>SHOP</h1>
            </div>
            <div class="pricetextfield">
                <h3>Price</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-6">
        <div class="receiptsummary">
            <div class="shoptextfield">
                <h1>SHOP</h1>
            </div>
            <div class="pricetextfield">
                <h3>Price</h3>
            </div>
        </div>
    </div>
    <a href="#">
        <div class="col-md-3 col-xs-6">
            <div class="receiptsummary">
                <div class="shoptextfield">
                    <h1>Add</h1>
                </div>
                <div class="pricetextfield">
                    <h3>new</h3>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="container">
    <div class="row dayheader">
        <div class="col-xs-6 col-md-8 datetextfield">
            <label> 01.01.0001</label>
        </div>
        <div class="col-xs-6 col-md-4 summarybutton">
            <button class="btn btn-default">Summary</button>
        </div>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="receiptsummary">
            <div class="shoptextfield">
                <h1>SHOP</h1>
            </div>
            <div class="pricetextfield">
                <h3>Price</h3>
            </div>
        </div>
    </div>
</div>