@{
    Layout = "_MainPageLayout";
}

<h3 class="mainpageheader">Home Wallet</h3>
<a class="btn btn-default" asp-controller="Account" asp-action="Register">Register</a>
<a class="btn btn-default" asp-controller="Account" asp-action="Login">Log in</a>